.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 70px;
}

.profile__welcome {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.profile__container {
  width: 410px;
  display: flex;
  justify-content: space-between;
}

.profile__container_first {
  margin-top: 120px;
}

.profile__edit {
  margin-top: 220px;
  border: none;
  background: none;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.profile__logout {
  margin-top: 16px;
  border: none;
  background: none;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #FF4062;
}


.profile__line {
  height: 1px;
  background: #E8E8E8;
  width: 410px;
  margin: 16px 0;
}

.profile__label {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */


  color: #000000;
}

.profile__value {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  text-align: right;

  color: #000000;

}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .profile {
    padding: 70px 30px;
  }
  .profile__container {
    width: 100%;
  }

  .profile__line {
    width: 100%;
  }

  .profile__container_first {
    margin-top: 80px;
  }

  .profile__edit {
    margin-top: 385px;
  }

  .profile__logout {
    margin-top: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__edit {
    font-size: 12px;
    line-height: 15px;
  }
}