.popup {
  display: flex;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
}
