.not-found {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.not-found__text {

}

.not-found__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;

  color: #000000;
}

.not-found__sub-title {
  margin: 0;
  margin-top: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.not-found__back-btn {

  border: none;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 60px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__sub-title {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__back-btn {
    font-size: 12px;
    line-height: 15px;
    bottom: 30px;
  }
}