.search-form {
  margin: 70px 70px 80px;
  display: flex;
  align-items: center;
  padding: 19px 30px 19px 19px ;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  justify-content: stretch;
  box-sizing: border-box;
}

.search-form__input {
  margin-left: 10px;
  border: none;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #A0A0A0;

  width: 100%;
}

.search-form__submit {
  padding: 8px 10px;
  background: #000000;
  border-radius: 48px;

  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */

  text-align: center;

  color: #FFFFFF;

  border: none;
  margin-left: 20px;
}

.search-form__label-text {
  margin-left: 15px;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */
}

.search-form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.search-form__checkbox {
  display: flex;
  align-items: center;
}

.search-form__checkbox::before {
  margin-left: 20px;
  content: '';
  height: 40px;
  width: 1px;
  background: #E8E8E8;
  display: block;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .search-form {
    display: block;
    margin: 80px 10px 0;
    background: none;
    box-shadow: none;
    border-radius: none;
    padding: 0;
  }

  .search-form__container {
    background: #FDFDFD;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    padding: 19px;
  }

  .search-form__input {
    max-width: 180px;
  }

  .search-form__checkbox {
    margin: 45px 0;
    justify-content: center;
  }

  .search-form__icon {
    display: none;
  }
  .search-form__submit {
    width: 60px;
  }

  .search-form::after {
    content: '';
    height: 1px;
    width: 100%;
    background: #E8E8E8;
    display: block;
  }

  .search-form__checkbox::before {
    content: none;
  }
}
